<link rel="stylesheet" href="/assets/css/material-dashboard-rtl.css">
<link rel="stylesheet" href="/assets/css/material-dashboard.css">
<link rel="stylesheet" href="/assets/css/material-dashboard.css.map">
<link rel="stylesheet" href="/assets/css/material-dashboard.min.css">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/dashboard">DocDocEyes</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <h4 >   </h4>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="/prost">Prostate analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="">Breast analysis</a>
        </li>
      </ul>
        <a class="btn" href="/users/logout">Logout</a>
    </div>
  </div>
</nav>
<script>
// <!-- Bootstrap Notify -->
function showNotifUpload(from, align){

  $.notify({
      icon: "loop",
      message: "Image sent for analysis, the process could take up to several minutes"

  },{
      type: 'success',
      timer: 4000,
      placement: {
          from: from,
          align: align
      }
  });
}

</script>

<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Breast cancer analysis</h3>
          <p class="category"> </p>
        </div>
        <div class="card-body" style="text-align: center;">
          <h5>Pass in your mamographia image and our artificial inteligence and will suggest a diagnostic.</h5>
          <br/>
          <button class="btn" href="" type="submit">Lets predict!</button>
        </div>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Prostate cancer analysis</h3>
          <p class="category"> </p>
        </div>
        <div class="card-body" style="text-align: center;">
          <h5>Pass in your x-ray image and our artificial inteligence and will suggest a diagnostic.</h5>
          <br/>
          <a class="btn" href="/prost">Lets predict!</a>
        </div>
      </div>
    </div>
  </div>

<script>

      var input = document.querySelector('input');
      var preview = document.querySelector('.preview');

      input.style.opacity = 0;
</script>

  <!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <!-- Plugin for the Perfect Scrollbar -->
  <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="assets/js/plugins/jquery.validate.min.js"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="assets/js/plugins/nouislider.min.js" ></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="assets/js/plugins/arrive.min.js"></script>
  <!-- Chartist JS -->
  <script src="assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="assets/js/material-dashboard.min.js?v=2.1.1" type="text/javascript"></script>


