<div class="container">
        <h1 style="text-align:center">Conatct Us</h1>
        <div id="notif" class="alert alert-warning" role="alert">
            Error: verify your input!
          </div>
        <form id="subscribeForm" method="POST" action="/contact">
          <div class="form-group">
            <h4 style="text-align: center">Name</h4>
            <div align="center"style="text-align: center">
            <input style="width:45%;display: inline-block" type="text" name="name" id="name" class="form-control">
          </div>
          </div>
          <div class="form-group">
              <h4 style="text-align: center">Email</h4>
            <div align="center"style="text-align: center">
            <input style="width:45%;display: inline-block" type="text" name="email" id="email" class="form-control">
            </div>
          </div>
          <div class="form-group">
              <h4 style="text-align: center">Message</h4>
              <div align="center" style="text-align: center">
                <textarea style="width:45%;display: inline-block; max-width:45%;min-width:45%;" name="message" class="form-control" id="message" rows="3"></textarea>
              </div>
            </div>
            <br/>
          <div class="form-group" align="center">
            <div class="g-recaptcha" data-sitekey="6LdpvDEUAAAAAMy8x0y8PS99j4BavfO2oBdVTQGZ"></div>
          </div>
          <div align="center" style="text-align: center">
          <input style="background-color: #6bb5c2"type="submit" value="Submit" class="btn btn-primary">
        </div>
        </form>
          <br/>
      </div>

    <script>
        document.getElementById('notif').style.visibility = 'hidden';
        document.getElementById('subscribeForm').addEventListener('submit', submitForm);
        function submitForm(e){
          e.preventDefault();
          
          const name = document.querySelector('#name').value;
          const email = document.querySelector('#email').value;
          const message = document.querySelector('#message').value;
          const captcha = document.querySelector('#g-recaptcha-response').value;
          if (name === null || name === '') {
            document.getElementById('notif').style.visibility = 'visible';
          } else if (email === null || email === '' || email.includes("@") === false || email.includes(".") === false) {
            document.getElementById('notif').style.visibility = 'visible';
        } else {
          fetch('/subscribe', {
            method:'POST',
            headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-type':'application/json'
            },
            body:JSON.stringify({name:name, email: email, captcha: captcha})
          })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
            if (data.msg === 'captcha verified') {
              document.getElementById("subscribeForm").submit();
            } else
            document.getElementById('notif').style.visibility = 'visible';
          });
        }
    }
  </script>
