  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Fixed navbar -->
  <div id="thenavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#"><img src="logo.png" width="60" height="60"><i class=""></i></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#hello" class="smoothscroll">Home</a></li>
          <li><a href="#green" class="smoothscroll">Our Mission</a></li>
          <li><a href="#portfolio" class="smoothscroll">Our Solution</a></li>
          <li><a href="#contact" class="smoothscroll">Contact</a></li>
          <!-- <li><a href="/users/register">Register</a></li> -->
          <li><a href="/users/login">Login</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

<div id="particles-js" class="lol"></div>
  <div id="hello">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <img src="DocDocEyes.png" class="test"/>
          <h2 clas="test "style="color:black;">Medical diagnostics with Artificial Inteligence</h2>
        </div>
      </div>
        <!-- /col-lg-8 -->
      </div>
      <!-- /row -->
    </div>
  </div>
    <!-- /container -->
  <!-- /hello -->

  <div id="green">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 centered">
          <img src="img/iphone.png" alt="">
        </div>

        <div class="col-lg-7 centered">
          <h3>WHAT WE DO?</h3>
          <p>Bring efficient <bold>Artificial Inteligence</bold> to medecine to treat all kind of data. </p> <br/><p>We work with medical imagery, photographies, blood analyse and all kind of medical related data.</p>
          <p align=left style="font-size: 74%">*AI detected a breast tumor on this X-ray</p>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio"></div>
  <div class="container">
    <div class="row centered mt grid">
      <div class="mt"></div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <img src="img/dashboard.png" class="test">
        <h3>How to use our plateform</h3>
      </div>
      <div class="col-lg-4">
      </div>
    </div>

    <div class="row mt centered">
      <div class="col-lg-7 col-lg-offset-1 mt">
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div>

      <div class="col-lg-3 mt">
        <p><a href="/users/register"><button type="button" class="btn btn-theme btn-lg">Try it!</button></a></p>
      </div>
    </div>
    <br/>
    <br/>
  </div>


  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <div id="green">
<!-- Default form contact -->
<% include form %>
</div>


  <section id="contact">

    <div id="social">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-3">
            <div class="col-md-3">
              <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="col-md-3">
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-md-3">
              <a href="mailto:info@reemembee.com"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /social -->

  </section>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>DocDocEyes</strong>. All Rights Reserved
      </p>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/chart/chart.js"></script>


  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="particles.js"></script>
  <script src="particulos.js"></script>
