<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DocDocEyes</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,700,900" rel="stylesheet">

</head>
<body data-spy="scroll" data-offset="80" data-target="#thenavbar">
  <div >

      <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Fixed navbar -->
  <div id="thenavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#"><img src="logo.png" width="60" height="60"><i class=""></i></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/register">Register</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

<div id="particles-js" class="lol"></div>
  <div id="hello">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <h2 clas="test "style="color:black;">Your form as been submited !</h2>
          <h2 clas="test "style="color:black;">We will get back to you as soon as possible.</h2>
          <button onclick="location.href = '/';" class="btn btn-primary" style="background-color: #9bd4de; border: #9bd4de; border-radius: 0;">Back to menu</button>
        </div>
      </div>
        <!-- /col-lg-8 -->
      </div>
      <!-- /row -->
    </div>
  </div>
    <!-- /container -->


  <section id="contact">

    <div id="social">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-3">
            <div class="col-md-3">
              <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="col-md-3">
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-md-3">
              <a href="mailto:info@reemembee.com"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /social -->

  </section>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>DocDocEyes</strong>. All Rights Reserved
      </p>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/chart/chart.js"></script>


  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="particles.js"></script>
  <script src="particulos.js"></script>


  </div>
</body>
</html>
